
.Frame1_Frame1 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(2,48,71,1.00);
}
.Frame1_Frame1 .Group1 {
	position: absolute;
	left: 133px;
	top: 323px;
	width: 857px;
	height: 277px;
}
.Frame1_Frame1 .Group1 .HelloIamBobSmith {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 798px;
	height: 253px;
	color: rgba(255,255,255,1.00);
	font-family: Raleway;
	font-size: 96px;
	font-weight: 400;
	line-height: 112.7040023803711px;
}
.Frame1_Frame1 .Group1 .WebDesignerSoftwareDeveloper {
	position: absolute;
	left: 0px;
	top: 229px;
	width: 857px;
	height: 48px;
	color: rgba(255,255,255,1.00);
	font-family: Raleway;
	font-size: 40px;
	font-weight: 400;
	line-height: 46.959999084472656px;
}
.Frame1_Frame1 .laptop229828611 {
	position: absolute;
	left: 656px;
	top: 264px;
	width: 874px;
	height: 888px;
}
.Frame1_Frame1 .laptop229828611 .Vector {
	position: absolute;
	left: 97.62405395507812px;
	top: 155.96298217773438px;
	width: 77.36655787417763%;
	height: 64.86930503501547%;
}
.Frame1_Frame1 .laptop229828611 .Vector_1 {
	position: absolute;
	left: 136.13421630859375px;
	top: 411.2283630371094px;
	width: 6.943503233606265%;
	height: 8.180498002885699%;
}
.Frame1_Frame1 .laptop229828611 .Vector_2 {
	position: absolute;
	left: 134.38031005859375px;
	top: 409.46563720703125px;
	width: 7.344268170319651%;
	height: 8.57900671056799%;
}
.Frame1_Frame1 .laptop229828611 .Vector_3 {
	position: absolute;
	left: 137.33596801757812px;
	top: 500.2992248535156px;
	width: 4.567500273750358%;
	height: 7.674995628563133%;
}
.Frame1_Frame1 .laptop229828611 .Vector_4 {
	position: absolute;
	left: 135.5865478515625px;
	top: 498.52032470703125px;
	width: 4.96791953080306%;
	height: 8.075418558206644%;
}
.Frame1_Frame1 .laptop229828611 .Vector_5 {
	position: absolute;
	left: 175.92440795898438px;
	top: 355.6754150390625px;
	width: 2.2021644993832235%;
	height: 2.2022247314453125%;
}
.Frame1_Frame1 .laptop229828611 .Vector_6 {
	position: absolute;
	left: 174.17727661132812px;
	top: 353.89776611328125px;
	width: 2.601448949469036%;
	height: 2.6026476610888234%;
}
.Frame1_Frame1 .laptop229828611 .Vector_7 {
	position: absolute;
	left: 216.89141845703125px;
	top: 397.3033752441406px;
	width: 3.8696777902424198%;
	height: 3.869677019548846%;
}
.Frame1_Frame1 .laptop229828611 .Vector_8 {
	position: absolute;
	left: 215.15203857421875px;
	top: 395.52276611328125px;
	width: 4.268124229029605%;
	height: 4.270148062491201%;
}
.Frame1_Frame1 .laptop229828611 .Vector_9 {
	position: absolute;
	left: 171.32025146484375px;
	top: 350.9835510253906px;
	width: 3.8223336435837383%;
	height: 3.8223335334846564%;
}
.Frame1_Frame1 .laptop229828611 .Vector_10 {
	position: absolute;
	left: 169.5682373046875px;
	top: 349.22064208984375px;
	width: 4.222850668621281%;
	height: 4.222849253061655%;
}
.Frame1_Frame1 .laptop229828611 .Vector_11 {
	position: absolute;
	left: 171.31707763671875px;
	top: 350.9953308105469px;
	width: 10.334997809997141%;
	height: 10.33499777854026%;
}
.Frame1_Frame1 .laptop229828611 .Vector_12 {
	position: absolute;
	left: 169.567138671875px;
	top: 349.19451904296875px;
	width: 10.735560227313359%;
	height: 10.677437309746269%;
}
.Frame1_Frame1 .laptop229828611 .Group {
	position: absolute;
	left: 189.87652587890625px;
	top: 353.3973388671875px;
	width: 7.904995497085955%;
	height: 7.374504020622184%;
}
.Frame1_Frame1 .laptop229828611 .Group .Vector_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_1 {
	position: absolute;
	left: 184.92633056640625px;
	top: 353.5137023925781px;
	width: 1.5573182968034898%;
	height: 1.5573209470456786%;
}
.Frame1_Frame1 .laptop229828611 .Group_1 .Vector_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_2 {
	position: absolute;
	left: 178.4310302734375px;
	top: 357.54132080078125px;
	width: 0.979551406965103%;
	height: 0.5374358580993103%;
}
.Frame1_Frame1 .laptop229828611 .Group_2 .Vector_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_3 {
	position: absolute;
	left: 231.7891845703125px;
	top: 412.70684814453125px;
	width: 1.9999977653032037%;
	height: 1.9700024579022382%;
}
.Frame1_Frame1 .laptop229828611 .Group_3 .Vector_16 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_17 {
	position: absolute;
	left: 124.760009765625px;
	top: 478.1134338378906px;
	width: 2.8463996520577086%;
	height: 2.846444619668497%;
}
.Frame1_Frame1 .laptop229828611 .Vector_18 {
	position: absolute;
	left: 123.00762939453125px;
	top: 476.3511657714844px;
	width: 3.246797958827946%;
	height: 3.246857239319398%;
}
.Frame1_Frame1 .laptop229828611 .Group_4 {
	position: absolute;
	left: 137.00823974609375px;
	top: 479.9196472167969px;
	width: 1.222951788651316%;
	height: 2.4459392100841075%;
}
.Frame1_Frame1 .laptop229828611 .Group_4 .Vector_19 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_20 {
	position: absolute;
	left: 131.4810791015625px;
	top: 484.9421691894531px;
	width: 1.308401007401316%;
	height: 1.3084480354377817%;
}
.Frame1_Frame1 .laptop229828611 .Vector_21 {
	position: absolute;
	left: 129.72869873046875px;
	top: 483.1709899902344px;
	width: 1.7088516898777173%;
	height: 1.708853781760276%;
}
.Frame1_Frame1 .laptop229828611 .Vector_22 {
	position: absolute;
	left: 143.36138916015625px;
	top: 564.01318359375px;
	width: 7.882047954358552%;
	height: 4.7050063674514355%;
}
.Frame1_Frame1 .laptop229828611 .Vector_23 {
	position: absolute;
	left: 141.61245727539062px;
	top: 562.2332153320312px;
	width: 8.282498636834955%;
	height: 5.105446480415963%;
}
.Frame1_Frame1 .laptop229828611 .Group_5 {
	position: absolute;
	left: 161.7332763671875px;
	top: 564.01318359375px;
	width: 5.779997871451301%;
	height: 4.7050063674514355%;
}
.Frame1_Frame1 .laptop229828611 .Group_5 .Vector_24 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_6 {
	position: absolute;
	left: 142.35272216796875px;
	top: 415.2598571777344px;
	width: 5.887001439144736%;
	height: 7.081504340644355%;
}
.Frame1_Frame1 .laptop229828611 .Group_6 .Vector_25 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_7 {
	position: absolute;
	left: 141.4569091796875px;
	top: 503.9844055175781px;
	width: 3.570497281491347%;
	height: 6.660004349442215%;
}
.Frame1_Frame1 .laptop229828611 .Group_7 .Vector_26 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_27 {
	position: absolute;
	left: 671.6824951171875px;
	top: 401.33935546875px;
	width: 2.556409333881579%;
	height: 2.7723398294534767%;
}
.Frame1_Frame1 .laptop229828611 .Vector_28 {
	position: absolute;
	left: 669.9020385742188px;
	top: 399.5582580566406px;
	width: 2.9563991101437357%;
	height: 3.172704335805532%;
}
.Frame1_Frame1 .laptop229828611 .Group_8 {
	position: absolute;
	left: 672.653564453125px;
	top: 402.0930480957031px;
	width: 2.4440878861556063%;
	height: 2.6873683070277306%;
}
.Frame1_Frame1 .laptop229828611 .Group_8 .Vector_29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_30 {
	position: absolute;
	left: 636.9459228515625px;
	top: 407.9560241699219px;
	width: 5.672645132383438%;
	height: 6.147422446860924%;
}
.Frame1_Frame1 .laptop229828611 .Vector_31 {
	position: absolute;
	left: 635.23046875px;
	top: 406.1885070800781px;
	width: 6.074499483785041%;
	height: 6.548055013020833%;
}
.Frame1_Frame1 .laptop229828611 .Group_9 {
	position: absolute;
	left: 647.6383666992188px;
	top: 407.9561462402344px;
	width: 4.4492533878003435%;
	height: 6.144772778760205%;
}
.Frame1_Frame1 .laptop229828611 .Group_9 .Vector_32 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_33 {
	position: absolute;
	left: 624.600830078125px;
	top: 480.62030029296875px;
	width: 3.9600503253718533%;
	height: 3.267174798089105%;
}
.Frame1_Frame1 .laptop229828611 .Vector_34 {
	position: absolute;
	left: 625.6151123046875px;
	top: 482.5103454589844px;
	width: 3.712103732390589%;
	height: 2.8382481755437077%;
}
.Frame1_Frame1 .laptop229828611 .Group_10 {
	position: absolute;
	left: 627.3978271484375px;
	top: 484.2922058105469px;
	width: 3.30810546875%;
	height: 2.3133389584653012%;
}
.Frame1_Frame1 .laptop229828611 .Group_10 .Vector_35 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_36 {
	position: absolute;
	left: 705.8696899414062px;
	top: 446.4686584472656px;
	width: 3.6243918831342965%;
	height: 3.126560245548283%;
}
.Frame1_Frame1 .laptop229828611 .Vector_37 {
	position: absolute;
	left: 704.154296875px;
	top: 444.692626953125px;
	width: 4.01911615507008%;
	height: 3.526996921848606%;
}
.Frame1_Frame1 .laptop229828611 .Group_11 {
	position: absolute;
	left: 705.8872680664062px;
	top: 447.762451171875px;
	width: 3.6223806560175915%;
	height: 2.9808766133076436%;
}
.Frame1_Frame1 .laptop229828611 .Group_11 .Vector_38 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_39 {
	position: absolute;
	left: 644.490234375px;
	top: 443.1075744628906px;
	width: 8.809398240846681%;
	height: 10.710992899026957%;
}
.Frame1_Frame1 .laptop229828611 .Vector_40 {
	position: absolute;
	left: 642.7400512695312px;
	top: 441.3182373046875px;
	width: 9.209897807315503%;
	height: 11.112000061585023%;
}
.Frame1_Frame1 .laptop229828611 .Group_12 {
	position: absolute;
	left: 675.1129150390625px;
	top: 443.11199951171875px;
	width: 5.3056590344322085%;
	height: 10.711202535543356%;
}
.Frame1_Frame1 .laptop229828611 .Group_12 .Vector_41 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_42 {
	position: absolute;
	left: 630.4865112304688px;
	top: 520.4528198242188px;
	width: 12.212904312517878%;
	height: 9.610452737894144%;
}
.Frame1_Frame1 .laptop229828611 .Vector_43 {
	position: absolute;
	left: 628.738525390625px;
	top: 518.6732177734375px;
	width: 12.61329912757437%;
	height: 10.010851610888231%;
}
.Frame1_Frame1 .laptop229828611 .Group_13 {
	position: absolute;
	left: 709.80078125px;
	top: 520.456787109375px;
	width: 3.1372978158073517%;
	height: 9.610452737894144%;
}
.Frame1_Frame1 .laptop229828611 .Group_13 .Vector_44 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_45 {
	position: absolute;
	left: 270.00567626953125px;
	top: 351.5680847167969px;
	width: 39.041898888908754%;
	height: 27.029003108943904%;
}
.Frame1_Frame1 .laptop229828611 .Vector_46 {
	position: absolute;
	left: 268.2576904296875px;
	top: 349.7876281738281px;
	width: 39.44234957138516%;
	height: 27.429505081864093%;
}
.Frame1_Frame1 .laptop229828611 .Group_14 {
	position: absolute;
	left: 596.3616333007812px;
	top: 351.54986572265625px;
	width: 1.5016533962921912%;
	height: 25.426998653927363%;
}
.Frame1_Frame1 .laptop229828611 .Group_14 .Vector_47 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_15 {
	position: absolute;
	left: 290.986083984375px;
	top: 365.7583312988281px;
	width: 34.23639991463458%;
	height: 19.420950262396186%;
}
.Frame1_Frame1 .laptop229828611 .Group_15 .Vector_48 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_49 {
	position: absolute;
	left: 290.986083984375px;
	top: 371.0863342285156px;
	width: 34.23639991463458%;
	height: 24.425998034777944%;
}
.Frame1_Frame1 .laptop229828611 .Vector_50 {
	position: absolute;
	left: 289.23809814453125px;
	top: 369.3511657714844px;
	width: 34.636801713118565%;
	height: 24.82645189439928%;
}
.Frame1_Frame1 .laptop229828611 .Group_16 {
	position: absolute;
	left: 390.95330810546875px;
	top: 372.8845520019531px;
	width: 22.59900684487629%;
	height: 15.81699611904385%;
}
.Frame1_Frame1 .laptop229828611 .Group_16 .Vector_51 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_52 {
	position: absolute;
	left: 205.892333984375px;
	top: 579.1092529296875px;
	width: 53.91183674199085%;
	height: 3.0032458606067003%;
}
.Frame1_Frame1 .laptop229828611 .Vector_53 {
	position: absolute;
	left: 204.13433837890625px;
	top: 577.3456420898438px;
	width: 54.31059045158753%;
	height: 3.403596620301943%;
}
.Frame1_Frame1 .laptop229828611 .Group_17 {
	position: absolute;
	left: 392.50469970703125px;
	top: 579.1092529296875px;
	width: 11.011845569043192%;
	height: 1.8019392683699325%;
}
.Frame1_Frame1 .laptop229828611 .Group_17 .Vector_54 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_55 {
	position: absolute;
	left: 394.331298828125px;
	top: 579.1092529296875px;
	width: 10.594208671517448%;
	height: 1.0010934090829111%;
}
.Frame1_Frame1 .laptop229828611 .Vector_56 {
	position: absolute;
	left: 392.576171875px;
	top: 577.3638305664062px;
	width: 10.994400967176773%;
	height: 1.4015541420326576%;
}
.Frame1_Frame1 .laptop229828611 .Group_18 {
	position: absolute;
	left: 209.92169189453125px;
	top: 598.6895751953125px;
	width: 52.99094612592964%;
	height: 0.6007014094172297%;
}
.Frame1_Frame1 .laptop229828611 .Group_18 .Vector_57 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_19 {
	position: absolute;
	left: 290.9877624511719px;
	top: 371.1040954589844px;
	width: 34.23641038977582%;
	height: 1.735649452553139%;
}
.Frame1_Frame1 .laptop229828611 .Group_19 .Vector_58 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Group_20 {
	position: absolute;
	left: 269.99609375px;
	top: 573.78125px;
	width: 38.24099752395595%;
	height: 0.40044011296452703%;
}
.Frame1_Frame1 .laptop229828611 .Group_20 .Vector_59 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_60 {
	position: absolute;
	left: 439.53240966796875px;
	top: 358.6609802246094px;
	width: 0.4505078907143879%;
	height: 0.45049856374929614%;
}
.Frame1_Frame1 .laptop229828611 .Group_21 {
	position: absolute;
	left: 597.2041625976562px;
	top: 351.5489807128906px;
	width: 0.10010743304848398%;
	height: 0.010148469392243805%;
}
.Frame1_Frame1 .laptop229828611 .Group_21 .Vector_61 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_62 {
	position: absolute;
	left: 735.4740600585938px;
	top: 604.0136108398438px;
	width: 4.604900019665332%;
	height: 0.40044698629293357%;
}
.Frame1_Frame1 .laptop229828611 .Vector_63 {
	position: absolute;
	left: 163.26144409179688px;
	top: 604.0136108398438px;
	width: 65.87039764194795%;
	height: 0.40044698629293357%;
}
.Frame1_Frame1 .laptop229828611 .Vector_64 {
	position: absolute;
	left: 105.50927734375px;
	top: 604.0136108398438px;
	width: 6.80919795614631%;
	height: 0.40044698629293357%;
}
.Frame1_Frame1 .laptop229828611 .Vector_65 {
	position: absolute;
	left: 688.2750244140625px;
	top: 415.4241943359375px;
	width: 1.0949944467784611%;
	height: 0.5149944408519849%;
}
.Frame1_Frame1 .laptop229828611 .Vector_66 {
	position: absolute;
	left: 686.5515747070312px;
	top: 413.6470947265625px;
	width: 1.492595890839531%;
	height: 0.9156235703476914%;
}
.Frame1_Frame1 .laptop229828611 .Vector_67 {
	position: absolute;
	left: 682.3318481445312px;
	top: 395.1067199707031px;
	width: 0.05999462555420481%;
	height: 0.7115028999947213%;
}
.Frame1_Frame1 .laptop229828611 .Vector_68 {
	position: absolute;
	left: 680.5892333984375px;
	top: 393.32696533203125px;
	width: 0.45970506471681927%;
	height: 1.1124207092835023%;
}
.Frame1_Frame1 .laptop229828611 .Vector_69 {
	position: absolute;
	left: 668.9596557617188px;
	top: 403.20526123046875px;
	width: 0.9299900220788044%;
	height: 0.5350026998433981%;
}
.Frame1_Frame1 .laptop229828611 .Vector_70 {
	position: absolute;
	left: 667.2338256835938px;
	top: 401.4260559082031px;
	width: 1.3279546043692791%;
	height: 0.9353603328670468%;
}
.Frame1_Frame1 .laptop229828611 .Vector_71 {
	position: absolute;
	left: 693.9996948242188px;
	top: 407.356689453125px;
	width: 0.43999783234410755%;
	height: 0.0674995216163429%;
}
.Frame1_Frame1 .laptop229828611 .Vector_72 {
	position: absolute;
	left: 692.2515869140625px;
	top: 405.57891845703125px;
	width: 0.8383674534289188%;
	height: 0.46769563142243803%;
}
.Frame1_Frame1 .laptop229828611 .Vector_73 {
	position: absolute;
	left: 697.8452758789062px;
	top: 470.01837158203125px;
	width: 0.6750041341890732%;
	height: 0.775005581142666%;
}
.Frame1_Frame1 .laptop229828611 .Vector_74 {
	position: absolute;
	left: 696.0955200195312px;
	top: 468.2598571777344px;
	width: 1.0776895134618134%;
	height: 1.1730400291649072%;
}
.Frame1_Frame1 .laptop229828611 .Vector_75 {
	position: absolute;
	left: 727.60498046875px;
	top: 462.5592041015625px;
	width: 1.1000015642877574%;
	height: 0.839996337890625%;
}
.Frame1_Frame1 .laptop229828611 .Vector_76 {
	position: absolute;
	left: 725.8467407226562px;
	top: 460.75482177734375px;
	width: 1.5015556283073512%;
	height: 1.2432029655387808%;
}
.Frame1_Frame1 .laptop229828611 .Vector_77 {
	position: absolute;
	left: 724.8518676757812px;
	top: 472.1496276855469px;
	width: 0.11499610045409038%;
	height: 0.33499571654173704%;
}
.Frame1_Frame1 .laptop229828611 .Vector_78 {
	position: absolute;
	left: 723.1072998046875px;
	top: 470.3891296386719px;
	width: 0.5147973241740561%;
	height: 0.7332535477371903%;
}
.Frame1_Frame1 .laptop229828611 .Vector_79 {
	position: absolute;
	left: 713.8831787109375px;
	top: 444.5771789550781px;
	width: 0.2800005251537471%;
	height: 1.0100012426977758%;
}
.Frame1_Frame1 .laptop229828611 .Vector_80 {
	position: absolute;
	left: 712.137939453125px;
	top: 442.8260803222656px;
	width: 0.6802207545230263%;
	height: 1.4071937079902168%;
}
.Frame1_Frame1 .laptop229828611 .Vector_81 {
	position: absolute;
	left: 726.7310180664062px;
	top: 442.2239990234375px;
	width: 0.20000536327231122%;
	height: 0.40000365661071224%;
}
.Frame1_Frame1 .laptop229828611 .Vector_82 {
	position: absolute;
	left: 724.9827270507812px;
	top: 440.4402770996094px;
	width: 0.600784266840675%;
	height: 0.8008699159364443%;
}
.Frame1_Frame1 .laptop229828611 .Vector_83 {
	position: absolute;
	left: 733.7230224609375px;
	top: 451.1039733886719px;
	width: 1.099994580860269%;
	height: 0.27500186954532657%;
}
.Frame1_Frame1 .laptop229828611 .Vector_84 {
	position: absolute;
	left: 731.974365234375px;
	top: 449.3471374511719px;
	width: 1.501702280284611%;
	height: 0.6728473010363879%;
}
.Frame1_Frame1 .laptop229828611 .Vector_85 {
	position: absolute;
	left: 737.218994140625px;
	top: 458.2967834472656px;
	width: 0.3650028045444794%;
	height: 0.0300055151587134%;
}
.Frame1_Frame1 .laptop229828611 .Vector_86 {
	position: absolute;
	left: 735.4498901367188px;
	top: 456.4978332519531px;
	width: 0.7674088467176774%;
	height: 0.43259354325028154%;
}
.Frame1_Frame1 .laptop229828611 .Vector_87 {
	position: absolute;
	left: 654.9756469726562px;
	top: 403.10760498046875px;
	width: 0.19999837984482266%;
	height: 1.0009971824852197%;
}
.Frame1_Frame1 .laptop229828611 .Vector_88 {
	position: absolute;
	left: 653.2238159179688px;
	top: 401.32916259765625px;
	width: 0.6007004657108124%;
	height: 1.4017740885416665%;
}
.Frame1_Frame1 .laptop229828611 .Vector_89 {
	position: absolute;
	left: 643.3076782226562px;
	top: 407.9560852050781px;
	width: 0.4850060225078661%;
	height: 0.368499755859375%;
}
.Frame1_Frame1 .laptop229828611 .Vector_90 {
	position: absolute;
	left: 641.554443359375px;
	top: 406.1783142089844px;
	width: 0.8859734786184211%;
	height: 0.7692079286317568%;
}
.Frame1_Frame1 .laptop229828611 .Vector_91 {
	position: absolute;
	left: 636.97119140625px;
	top: 448.44000244140625px;
	width: 1.2100045140875286%;
	height: 0.29999672829567847%;
}
.Frame1_Frame1 .laptop229828611 .Vector_92 {
	position: absolute;
	left: 635.2225341796875px;
	top: 446.6587829589844px;
	width: 1.6110348210454806%;
	height: 0.7005880544851492%;
}
.Frame1_Frame1 .laptop229828611 .Vector_93 {
	position: absolute;
	left: 647.546630859375px;
	top: 432.7401428222656px;
	width: 0.850001843624857%;
	height: 0.28250067083685243%;
}
.Frame1_Frame1 .laptop229828611 .Vector_94 {
	position: absolute;
	left: 645.8018188476562px;
	top: 430.9639892578125px;
	width: 1.249907818757151%;
	height: 0.6830198270780546%;
}
.Frame1_Frame1 .laptop229828611 .Vector_95 {
	position: absolute;
	left: 661.7491455078125px;
	top: 415.4241943359375px;
	width: 0.15999730719036043%;
	height: 0.8484986451295045%;
}
.Frame1_Frame1 .laptop229828611 .Vector_96 {
	position: absolute;
	left: 659.9970092773438px;
	top: 413.64556884765625px;
	width: 0.5581155248855835%;
	height: 1.2492892978427645%;
}
.Frame1_Frame1 .laptop229828611 .Vector_97 {
	position: absolute;
	left: 675.6893920898438px;
	top: 415.4241943359375px;
	width: 0.6300029274528032%;
	height: 0.9819958661053632%;
}
.Frame1_Frame1 .laptop229828611 .Vector_98 {
	position: absolute;
	left: 673.9407348632812px;
	top: 413.6473388671875px;
	width: 1.0346296995673627%;
	height: 1.3825871922948338%;
}
.Frame1_Frame1 .laptop229828611 .Vector_99 {
	position: absolute;
	left: 680.0593872070312px;
	top: 432.7401428222656px;
	width: 1.1350025028604118%;
	height: 0.14099945893158783%;
}
.Frame1_Frame1 .laptop229828611 .Vector_100 {
	position: absolute;
	left: 678.311279296875px;
	top: 430.9620361328125px;
	width: 1.5350132294050345%;
	height: 0.541738561681799%;
}
.Frame1_Frame1 .laptop229828611 .Vector_101 {
	position: absolute;
	left: 628.7118530273438px;
	top: 437.775146484375px;
	width: 1.0750008938787186%;
	height: 0.28499225238422016%;
}
.Frame1_Frame1 .laptop229828611 .Vector_102 {
	position: absolute;
	left: 626.975341796875px;
	top: 436.0011901855469px;
	width: 1.473824437750286%;
	height: 0.6852639688027872%;
}
.Frame1_Frame1 .laptop229828611 .Vector_103 {
	position: absolute;
	left: 633.3878173828125px;
	top: 427.73187255859375px;
	width: 0.4099970278532609%;
	height: 0.06349580781953829%;
}
.Frame1_Frame1 .laptop229828611 .Vector_104 {
	position: absolute;
	left: 631.6392211914062px;
	top: 425.95556640625px;
	width: 0.8074378530820938%;
	height: 0.4635338310722832%;
}
.Frame1_Frame1 .laptop229828611 .Vector_105 {
	position: absolute;
	left: 667.2116088867188px;
	top: 433.9922180175781px;
	width: 0.20000536327231122%;
	height: 0.5685067391610361%;
}
.Frame1_Frame1 .laptop229828611 .Vector_106 {
	position: absolute;
	left: 665.4608154296875px;
	top: 432.21893310546875px;
	width: 0.6008261674056065%;
	height: 0.9687028489671312%;
}
.Frame1_Frame1 .laptop229828611 .Vector_107 {
	position: absolute;
	left: 639.8553466796875px;
	top: 415.4241943359375px;
	width: 0.5300072292441361%;
	height: 0.5149944408519849%;
}
.Frame1_Frame1 .laptop229828611 .Vector_108 {
	position: absolute;
	left: 638.1184692382812px;
	top: 413.6500549316406px;
	width: 0.9289494913830092%;
	height: 0.9152902139199747%;
}
.Frame1_Frame1 .laptop229828611 .Vector_109 {
	position: absolute;
	left: 655.849609375px;
	top: 444.5771789550781px;
	width: 0.33500200005363273%;
	height: 0.13500591656109234%;
}
.Frame1_Frame1 .laptop229828611 .Vector_110 {
	position: absolute;
	left: 654.1110229492188px;
	top: 442.8101501464844px;
	width: 0.7342235992920481%;
	height: 0.5339923205676379%;
}
.Frame1_Frame1 .laptop229828611 .Vector_111 {
	position: absolute;
	left: 633.3878173828125px;
	top: 479.5643615722656px;
	width: 0.7399919103975973%;
	height: 0.9650049982844171%;
}
.Frame1_Frame1 .laptop229828611 .Vector_112 {
	position: absolute;
	left: 631.6637573242188px;
	top: 477.7602233886719px;
	width: 1.1372860836491705%;
	height: 1.3681738226263374%;
}
.Frame1_Frame1 .laptop229828611 .Vector_113 {
	position: absolute;
	left: 627.40087890625px;
	top: 483.8711853027344px;
	width: 0.3499954188715675%;
	height: 0.31000085779138514%;
}
.Frame1_Frame1 .laptop229828611 .Vector_114 {
	position: absolute;
	left: 625.6239013671875px;
	top: 482.0622863769531px;
	width: 0.7535537265803776%;
	height: 0.713709238413218%;
}
.Frame1_Frame1 .laptop229828611 .Vector_115 {
	position: absolute;
	left: 625.5218505859375px;
	top: 495.1044006347656px;
	width: 0.8999962010154463%;
	height: 0.3500001924531954%;
}
.Frame1_Frame1 .laptop229828611 .Vector_116 {
	position: absolute;
	left: 623.7716674804688px;
	top: 493.3205871582031px;
	width: 1.3042458680456237%;
	height: 0.7508698884431306%;
}
.Frame1_Frame1 .laptop229828611 .Vector_117 {
	position: absolute;
	left: 630.4598388671875px;
	top: 502.1640319824219px;
	width: 0.3350089834811213%;
	height: 0.4249985153610642%;
}
.Frame1_Frame1 .laptop229828611 .Vector_118 {
	position: absolute;
	left: 628.7125244140625px;
	top: 500.39312744140625px;
	width: 0.7366747823405321%;
	height: 0.8244145023930181%;
}
.Frame1_Frame1 .laptop229828611 .Vector_119 {
	position: absolute;
	left: 638.1073608398438px;
	top: 499.1003723144531px;
	width: 0.19999837984482266%;
	height: 0.9700019080359658%;
}
.Frame1_Frame1 .laptop229828611 .Vector_120 {
	position: absolute;
	left: 636.35546875px;
	top: 497.342041015625px;
	width: 0.6007633165582094%;
	height: 1.368015736072987%;
}
.Frame1_Frame1 .laptop229828611 .Vector_121 {
	position: absolute;
	left: 699.0252075195312px;
	top: 443.11199951171875px;
	width: 0.3999967596896453%;
	height: 1.1749989277607686%;
}
.Frame1_Frame1 .laptop229828611 .Vector_122 {
	position: absolute;
	left: 697.27490234375px;
	top: 441.3435363769531px;
	width: 0.80101309979262%;
	height: 1.5741537283132743%;
}
.Frame1_Frame1 .laptop229828611 .Vector_123 {
	position: absolute;
	left: 692.513916015625px;
	top: 440.3058776855469px;
	width: 0.06500174306350114%;
	height: 0.4810023952174831%;
}
.Frame1_Frame1 .laptop229828611 .Vector_124 {
	position: absolute;
	left: 690.7618408203125px;
	top: 438.5150146484375px;
	width: 0.4617651758259439%;
	height: 0.8826831439593891%;
}
.Frame1_Frame1 .laptop229828611 .Vector_125 {
	position: absolute;
	left: 652.9216918945312px;
	top: 452.30279541015625px;
	width: 1.010006134242706%;
	height: 0.7050041679863457%;
}
.Frame1_Frame1 .laptop229828611 .Vector_126 {
	position: absolute;
	left: 651.1707763671875px;
	top: 450.5433349609375px;
	width: 1.4108059880935355%;
	height: 1.1031382792704814%;
}
.Frame1_Frame1 .laptop229828611 .Vector_127 {
	position: absolute;
	left: 675.9515991210938px;
	top: 438.6675109863281px;
	width: 0.20000536327231122%;
	height: 0.6005055195576435%;
}
.Frame1_Frame1 .laptop229828611 .Vector_128 {
	position: absolute;
	left: 674.2020874023438px;
	top: 436.8853454589844px;
	width: 0.6005677805885298%;
	height: 1.001196509009009%;
}
.Frame1_Frame1 .laptop229828611 .Vector_129 {
	position: absolute;
	left: 673.023681640625px;
	top: 452.30279541015625px;
	width: 0.30500119556278604%;
	height: 0.35500053886894706%;
}
.Frame1_Frame1 .laptop229828611 .Vector_130 {
	position: absolute;
	left: 671.2860717773438px;
	top: 450.5554504394531px;
	width: 0.7040761428239417%;
	height: 0.7517771677927928%;
}
.Frame1_Frame1 .laptop229828611 .Vector_131 {
	position: absolute;
	left: 682.3318481445312px;
	top: 451.1039733886719px;
	width: 0.13000348612700227%;
	height: 1.0400033211922861%;
}
.Frame1_Frame1 .laptop229828611 .Vector_132 {
	position: absolute;
	left: 680.579833984375px;
	top: 449.33587646484375px;
	width: 0.5308242902602974%;
	height: 1.4391168817743525%;
}
.Frame1_Frame1 .laptop229828611 .Vector_133 {
	position: absolute;
	left: 710.081298828125px;
	top: 460.3392028808594px;
	width: 0.8000074862342678%;
	height: 0.394996436866554%;
}
.Frame1_Frame1 .laptop229828611 .Vector_134 {
	position: absolute;
	left: 708.328857421875px;
	top: 458.55206298828125px;
	width: 1.201442831986556%;
	height: 0.7962544759114584%;
}
.Frame1_Frame1 .laptop229828611 .Vector_135 {
	position: absolute;
	left: 714.4512939453125px;
	top: 468.9084167480469px;
	width: 0.6000021229619565%;
	height: 0%;
}
.Frame1_Frame1 .laptop229828611 .Vector_136 {
	position: absolute;
	left: 712.6958618164062px;
	top: 467.12835693359375px;
	width: 1.0010463967748855%;
	height: 0.4004538596213401%;
}
.Frame1_Frame1 .laptop229828611 .Vector_137 {
	position: absolute;
	left: 641.8656005859375px;
	top: 476.9004211425781px;
	width: 0.8000074862342678%;
	height: 0.6350027548300253%;
}
.Frame1_Frame1 .laptop229828611 .Vector_138 {
	position: absolute;
	left: 640.1097412109375px;
	top: 475.12994384765625px;
	width: 1.2013241137192507%;
	height: 1.03437750189154%;
}
.Frame1_Frame1 .laptop229828611 .Vector_139 {
	position: absolute;
	left: 645.0556640625px;
	top: 471.5723571777344px;
	width: 0.2850076426630435%;
	height: 0.0500034641575169%;
}
.Frame1_Frame1 .laptop229828611 .Vector_140 {
	position: absolute;
	left: 643.3003540039062px;
	top: 469.77685546875px;
	width: 0.6859262147811785%;
	height: 0.4521962758657095%;
}
.Frame1_Frame1 .laptop229828611 .Vector_141 {
	position: absolute;
	left: 655.849609375px;
	top: 466.2887878417969px;
	width: 0.7550062794979977%;
	height: 0.5949965468398086%;
}
.Frame1_Frame1 .laptop229828611 .Vector_142 {
	position: absolute;
	left: 654.0985107421875px;
	top: 464.5201721191406px;
	width: 1.1557223322189645%;
	height: 0.9941685307133306%;
}
.Frame1_Frame1 .laptop229828611 .Vector_143 {
	position: absolute;
	left: 668.9596557617188px;
	top: 467.7096252441406px;
	width: 0.3099873627896167%;
	height: 0.5000002749331363%;
}
.Frame1_Frame1 .laptop229828611 .Vector_144 {
	position: absolute;
	left: 667.213623046875px;
	top: 465.9161071777344px;
	width: 0.7098374705020023%;
	height: 0.9019697034681166%;
}
.Frame1_Frame1 .laptop229828611 .Vector_145 {
	position: absolute;
	left: 700.81689453125px;
	top: 488.13360595703125px;
	width: 0.5800015866347253%;
	height: 0.634999318165822%;
}
.Frame1_Frame1 .laptop229828611 .Vector_146 {
	position: absolute;
	left: 699.0668334960938px;
	top: 486.36175537109375px;
	width: 0.9819397391661899%;
	height: 1.0345287151164837%;
}
.Frame1_Frame1 .laptop229828611 .Vector_147 {
	position: absolute;
	left: 710.081298828125px;
	top: 495.5483703613281px;
	width: 0.3999967596896453%;
	height: 0.12500522372958897%;
}
.Frame1_Frame1 .laptop229828611 .Vector_148 {
	position: absolute;
	left: 708.3316040039062px;
	top: 493.7647399902344px;
	width: 0.8008804146703374%;
	height: 0.5258611730627112%;
}
.Frame1_Frame1 .laptop229828611 .Vector_149 {
	position: absolute;
	left: 715.1068115234375px;
	top: 483.8711853027344px;
	width: 1.1700034414330662%;
	height: 0.15500386555989581%;
}
.Frame1_Frame1 .laptop229828611 .Vector_150 {
	position: absolute;
	left: 713.3585205078125px;
	top: 482.0787658691406px;
	width: 1.5718857265446222%;
	height: 0.5568495741835586%;
}
.Frame1_Frame1 .laptop229828611 .Vector_151 {
	position: absolute;
	left: 721.70556640625px;
	top: 492.7512512207031px;
	width: 0.27498642421696223%;
	height: 0.11499422090547579%;
}
.Frame1_Frame1 .laptop229828611 .Vector_152 {
	position: absolute;
	left: 719.9554443359375px;
	top: 490.9544677734375px;
	width: 0.6712749839101831%;
	height: 0.5173313725102056%;
}
.Frame1_Frame1 .laptop229828611 .Vector_153 {
	position: absolute;
	left: 644.4876098632812px;
	top: 507.7139892578125px;
	width: 0.7749998323977403%;
	height: 0.634999318165822%;
}
.Frame1_Frame1 .laptop229828611 .Vector_154 {
	position: absolute;
	left: 642.7362670898438px;
	top: 505.9419860839844px;
	width: 1.177091620333953%;
	height: 1.0345562084301099%;
}
.Frame1_Frame1 .laptop229828611 .Vector_155 {
	position: absolute;
	left: 654.9756469726562px;
	top: 499.1003723144531px;
	width: 0.7749998323977403%;
	height: 0.13500591656109234%;
}
.Frame1_Frame1 .laptop229828611 .Vector_156 {
	position: absolute;
	left: 653.2094116210938px;
	top: 497.3361511230469px;
	width: 1.177077653478976%;
	height: 0.5336761474609375%;
}
.Frame1_Frame1 .laptop229828611 .Vector_157 {
	position: absolute;
	left: 659.1270751953125px;
	top: 507.7139892578125px;
	width: 0.7600064135798055%;
	height: 0.5000002749331363%;
}
.Frame1_Frame1 .laptop229828611 .Vector_158 {
	position: absolute;
	left: 657.3751220703125px;
	top: 505.9273681640625px;
	width: 1.1572237691290046%;
	height: 0.9011964540223818%;
}
.Frame1_Frame1 .laptop229828611 .Vector_159 {
	position: absolute;
	left: 675.6893920898438px;
	top: 503.4072265625px;
	width: 0.3150014637264016%;
	height: 0.8000004398930181%;
}
.Frame1_Frame1 .laptop229828611 .Vector_160 {
	position: absolute;
	left: 673.9392700195312px;
	top: 501.6203918457031px;
	width: 0.7174563898920194%;
	height: 1.2012206756316863%;
}
.Frame1_Frame1 .laptop229828611 .Vector_161 {
	position: absolute;
	left: 684.9974975585938px;
	top: 509.9339904785156px;
	width: 0.17499770943578374%;
	height: 0.38499918069925393%;
}
.Frame1_Frame1 .laptop229828611 .Vector_162 {
	position: absolute;
	left: 683.2360229492188px;
	top: 508.16546630859375px;
	width: 0.5766844585776602%;
	height: 0.7841574179159628%;
}
.Frame1_Frame1 .laptop229828611 .Vector_163 {
	position: absolute;
	left: 659.1270751953125px;
	top: 483.8711853027344px;
	width: 1.0250065364881293%;
	height: 0.31000085779138514%;
}
.Frame1_Frame1 .laptop229828611 .Vector_164 {
	position: absolute;
	left: 657.3872680664062px;
	top: 482.0599670410156px;
	width: 1.4243398705663615%;
	height: 0.7139738615568694%;
}
.Frame1_Frame1 .laptop229828611 .Vector_165 {
	position: absolute;
	left: 689.9793090820312px;
	top: 492.7512512207031px;
	width: 0.1649974412721682%;
	height: 0.37999539761929896%;
}
.Frame1_Frame1 .laptop229828611 .Vector_166 {
	position: absolute;
	left: 688.2304077148438px;
	top: 490.9746398925781px;
	width: 0.5673406325979691%;
	height: 0.7800643508498734%;
}
.Frame1_Frame1 .laptop229828611 .Vector_167 {
	position: absolute;
	left: 700.773193359375px;
	top: 506.959228515625px;
	width: 0.6299959440253147%;
	height: 0.1349990432326858%;
}
.Frame1_Frame1 .laptop229828611 .Vector_168 {
	position: absolute;
	left: 698.985595703125px;
	top: 505.1917724609375px;
	width: 1.03464366642234%;
	height: 0.5340266872096706%;
}
.Frame1_Frame1 .laptop229828611 .Vector_169 {
	position: absolute;
	left: 632.2078857421875px;
	top: 541.768798828125px;
	width: 11.81499559764731%;
	height: 0%;
}
.Frame1_Frame1 .laptop229828611 .Vector_170 {
	position: absolute;
	left: 630.4795532226562px;
	top: 539.9888305664062px;
	width: 12.212953196510297%;
	height: 0.40044698629293357%;
}
.Frame1_Frame1 .laptop229828611 .Vector_171 {
	position: absolute;
	left: 191.252197265625px;
	top: 531.1118774414062px;
	width: 9.543600889856265%;
	height: 8.408946819133586%;
}
.Frame1_Frame1 .laptop229828611 .Vector_172 {
	position: absolute;
	left: 189.50283813476562px;
	top: 529.3416748046875px;
	width: 9.944002688340246%;
	height: 8.809448792053773%;
}
.Frame1_Frame1 .laptop229828611 .Group_22 {
	position: absolute;
	left: 228.00213623046875px;
	top: 531.1345825195312px;
	width: 5.3391480609535895%;
	height: 8.408994932432433%;
}
.Frame1_Frame1 .laptop229828611 .Group_22 .Vector_173 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Frame1_Frame1 .laptop229828611 .Vector_174 {
	position: absolute;
	left: 201.754150390625px;
	top: 538.216796875px;
	width: 4.404503584453661%;
	height: 0%;
}
.Frame1_Frame1 .laptop229828611 .Vector_175 {
	position: absolute;
	left: 200.00265502929688px;
	top: 536.4368286132812px;
	width: 4.805153294613486%;
	height: 0.40044698629293357%;
}
.Frame1_Frame1 .Frame2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1441px;
	height: 102px;
	background: rgba(255,255,255,1.00);
}
.Frame1_Frame1 .Frame2 .Home {
	position: absolute;
	left: 1081px;
	top: 37px;
	width: 69px;
	height: 28px;
	color: rgba(33,158,188,1.00);
	font-family: Raleway;
	font-size: 24px;
	font-weight: 600;
	line-height: 28.176000595092773px;
}
.Frame1_Frame1 .Frame2 .About {
	position: absolute;
	left: 1169px;
	top: 37px;
	width: 70px;
	height: 28px;
	color: rgba(2,48,71,1.00);
	font-family: Raleway;
	font-size: 24px;
	font-weight: 600;
	line-height: 28.176000595092773px;
}
.Frame1_Frame1 .Frame2 .Skills {
	position: absolute;
	left: 1256px;
	top: 37px;
	width: 60px;
	height: 28px;
	color: rgba(2,48,71,1.00);
	font-family: Raleway;
	font-size: 24px;
	font-weight: 600;
	line-height: 28.176000595092773px;
}
.Frame1_Frame1 .Frame2 .Works {
	position: absolute;
	left: 1332px;
	top: 37px;
	width: 72px;
	height: 28px;
	color: rgba(2,48,71,1.00);
	font-family: Raleway;
	font-size: 24px;
	font-weight: 600;
	line-height: 28.176000595092773px;
}